<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>My list of good restaurants</title>

    <!-- CSS와 Script 적용 -->
    <link rel="stylesheet" href="static/css/ccccc.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="static/js/jjjjj.js"></script>
</head>
<body>
    <!-- 검색하기 -->
    <div style="text-align: center">
        <h1>Searching for restaurants</h1>
        검색할 식당 이름 : <input type = "text" id="nameOfRestaurantToSearchFor"/>
        <button onclick="getRestaurantsByName()" class="fill">🔍</button><br>
    </div>

    <!-- Restaurants 리스트 -->
    <div style="text-align: center">
        <h1>✨ My list of good restaurants ✨</h1>
        <button onclick="getAllRestaurants()" style="background-color: #ffe54c">🔄</button><br>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>이름</th>
                <th>주소</th>
                <th>점수</th>
                <th>총 평</th>
            </tr>
            </thead>
            <tbody id = "listOfRestaurants"></tbody>
        </table>
    </div>

    <!-- 등록하기 -->
    <div style="text-align: center">
        <h1>Registering a New Restaurant</h1>
        이름 : <input type = "text" id = "nameForRegistering"/><br>
        주소 : <input type = "text" id = "addressForRegistering"/><br>
        별점 : <input type = "text" id = "starPointForRegistering"/><br>
        총 평 : <input type = "text" id = "commentForRegistering"/><br>
        <button onclick="postRestaurant()" class="fill">등록하기</button><br>
    </div>

    <!-- 삭제하기 -->
    <div style="text-align: center">
        <h1>Deleting a Restaurant</h1>
        삭제할 식당 ID : <input type = "text" id="restaurantIdToDelete"/>
        <button onclick="deleteRestaurantById()" class="fill">삭제하기</button><br>
    </div>

    <!-- 수정하기 -->
    <div style="text-align: center">
        <h1>To change restaurant information</h1>
        정보를 수정할 식당의 ID : <input type = "text" id = "idForModifying"/><br>
        이름 : <input type = "text" id = "nameForModifying"/><br>
        주소 : <input type = "text" id = "addressForModifying"/><br>
        별점 : <input type = "text" id = "starPointForModifying"/><br>
        총 평 : <input type = "text" id = "commentForModifying"/><br>
        <button onclick="putRestaurantById()" class="fill">수정하기</button><br>
    </div>
</body>
</html>